In [191]:
# Import all the Libraries for data analysis 
import pandas as pd
import numpy as np

# Libraries for visualization
import matplotlib.pyplot as plt

# Machine learning library
from sklearn import linear_model

In [192]:
# Import dataset
dataset = pd.read_csv("train.csv")

In [193]:
# Shape give number of row ,columns in datsaset
dataset.shape

(1460, 81)

In [194]:
# dataset is dataframe (type(dataset)) and head shows the first 5 rows of the dataset
dataset.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [195]:
# List all the columns of the dataset check for independent and dependent attributes
# here SalePrice is the dependent attribute for the house cost
original_col = dataset.columns
# Get columns with numeric data and then find out categorical columns
num_cols = dataset._get_numeric_data().columns

total_categorical_col = list(set(original_col) - set(num_cols))

In [196]:
# From all columns some can have numerical value some can have categorical values
# make sure to check for such values and convert them (Categorical Encoding)
# pandas support checking of individaul columns like DataFarme_name[particular_column_name]
val = dataset["Alley"]
val.isnull().sum()
val.shape

(1460,)

# Data Preparation
Step 1:Cleaning the data (Remove NaN values)

In [197]:
# Check for all the columns if more than 50% data is NaN we will drop that column
data_size = dataset.shape[0]//2  # Dividing by 2 for splitting the total data into half
for col in original_col:
    total_nan = dataset[col].isnull().sum().sum()
    if total_nan > data_size:
        dataset.drop(columns=[col],inplace = True)
#     elif total_nan < data_size:
#         dataset[col].fillna(dataset[col].mean())
        
dataset.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [201]:
total_col = dataset.columns
# Get columns with numeric data and then find out categorical columns
num_cols = dataset._get_numeric_data().columns

categorical_col = list(set(total_col) - set(num_cols))
        
        
# For all numeric i am using mean
# For categorical ones use mode

In [202]:
# Fill missing values
for col in num_cols:
    dataset[col] = dataset[col].fillna(dataset[col].mean())
    
for col in categorical_col:
    dataset[col] = dataset[col].fillna(dataset[col].mode()[0])

In [203]:
dataset.drop(['Id'],axis=1,inplace=True)

In [204]:
dataset.shape

(1460, 76)

In [205]:
#Test all missing values are filled
for col in dataset.columns:
    total_nan = dataset[col].isnull().sum()
#     print(total_nan)
dataset.columns

Index(['MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope',
       'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle',
       'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea',
       'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating', 'HeatingQC',
       'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd',
       'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond',
       'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [208]:
dataset_col = dataset.columns
# Get columns with numeric data and then find out categorical columns
dataset_num_cols = dataset._get_numeric_data().columns

dataset_categorical_col = list(set(dataset_col) - set(dataset_num_cols))
        
print(len(dataset_categorical_col))

39

In [209]:
copy_dataset = dataset.copy()

In [244]:
def category_encoder(multicolumns):
    df_final=final_df
    i=0
    for fields in multicolumns:
        
        print(fields)
        df1=pd.get_dummies(final_df[fields],drop_first=True)
        
        final_df.drop([fields],axis=1,inplace=True)
        if i==0:
            df_final=df1.copy()
        else:
            
            df_final=pd.concat([df_final,df1],axis=1)
        i=i+1
       
        
    df_final=pd.concat([final_df,df_final],axis=1)
        
    return df_final

In [245]:
# # Merge fix test data and train data
test_df =pd.read_csv("fixed_test_data.csv")
final_df = pd.concat([dataset,test_df],sort=False)
# final_df.columns

In [246]:
final_df=category_encoder(dataset_categorical_col)

MasVnrType
ExterQual
BsmtFinType2
LandContour
RoofStyle
LandSlope
SaleType
Functional
GarageFinish
Street
Exterior2nd
Heating
RoofMatl
GarageQual
BldgType
BsmtQual
Electrical
GarageCond
LotConfig
GarageType
HouseStyle
KitchenQual
PavedDrive
LotShape
Neighborhood
BsmtCond
Condition1
BsmtExposure
CentralAir
Exterior1st
Condition2
BsmtFinType1
SaleCondition
FireplaceQu
HeatingQC
MSZoning
Utilities
Foundation
ExterCond

In [247]:
final_df.shape

(2919, 237)

In [248]:
final_df =final_df.loc[:,~final_df.columns.duplicated()]

In [249]:
final_df.shape

(2919, 177)

In [250]:
df_Train=final_df.iloc[:1440,:]
df_Test=final_df.iloc[1440:,:]

In [251]:
df_Test.drop(['SalePrice'],axis=1,inplace=True)

C:\Users\Mishti\AppData\Local\Programs\Python\Python36\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [252]:
# Model
X_train = df_Train.loc[:, df_Train.columns != 'SalePrice']
y_train = df_Train['SalePrice']

In [253]:
df_Test.shape

(1479, 176)

In [254]:
regr = linear_model.LinearRegression()
regr.fit(X_train, y_train)

LinearRegression()

In [255]:
X_test = df_Test.loc[:,:]
print(X_test.shape)

predicted = regr.predict(X_test)
predicted

(1479, 176)

array([213029.15836838, 135587.82723824, 353780.739473  , ...,
       179806.48244737, 107439.0049853 , 241241.52750413])

In [256]:
pred=pd.DataFrame(predicted)
sub_df=pd.read_csv('sample_submission.csv')
datasets=pd.concat([sub_df['Id'],pred],axis=1)
datasets.columns=['Id','SalePrice']
datasets.to_csv('sample_submission.csv',index=False)